.Gif {
    position: relative;
}

.Gif > canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.Gif > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
}